# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
.env

# Jupyter
.ipynb_checkpoints/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and databases
*.log
*.sqlite3

# Model & data files
data/
models/
*.ckpt
*.pt
*.h5

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
